#forgot-section .b-crumb {
    background-color: var(--dark-color);
    border-radius: 7px;
}

#forgot-section .breadcrumb>.breadcrumb-item:first-child i {
    color: var(--orange-color);
}

#forgot-section .breadcrumb-item+.breadcrumb-item::before {
    color: rgb(174, 171, 171);
}

#forgot-section .title {
    font-size: 2rem;
    letter-spacing: 1px;
}

#forgot-section .hr {
    width: 100%;
    height: 2px;
    background-color: var(--dark-color);
}

#forgot-section .info {
    border-radius: 15px;
}

#forgot-section .info>div>span {
    background-color: var(--dark-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 5px;
}

#forgot-section .myRow {
    background-color: #eee;
    border-radius: 25px;
}

#forgot-section .social-media>a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

#forgot-section .social-media i {
    font-size: 15px;
}

#forgot-section .whatsapp {
    background-color: #25D366;
}

#forgot-section .linkedin {
    background-color: #0077B5;
}

#forgot-section .twitter {
    background: black;
}

#forgot-section .facebook {
    background-color: #1877F2;
}

#forgot-section .pinterest {
    background-color: #E60023;
}

#forgot-section .share {
    background: #000000;
    border-radius: 3px !important;
    font-size: 5px !important;
    width: 20px !important;
    height: 20px !important;
}

@media(min-width:768px) {

    #forgot-section .social-media>a {
        width: 35px;
        height: 35px;
    }

    #forgot-section .social-media i {
        font-size: 16px;
    }

    #forgot-section .share {
        font-size: 8px !important;
        width: 23px !important;
        height: 23px !important;
    }

}

#forgot-section .email {
    border: 1px solid #d2d2d2;
    border-bottom: 4px solid var(--orange-color);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#forgot-section form input:focus {
    outline: 0;
}

#forgot-section form label:not(:last-child) {
    color: red;
}

#forgot-section .error {
    background-color: #f7f6f7;
    border-top: 3px solid var(--orange-color);
}

#forgot-section .error::before {
    content: '\f06a';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: var(--orange-color);
    position: absolute;
    right: 10px;
    top: 15px;
}

#forgot-section .btnReset {
    background-color: var(--dark-color);
    transition: all 0.2s linear;
    border: 0;
}

#forgot-section .btnReset:hover {
    background-color: #f7f6f7;
    outline: 0 !important;
    color: black !important;
}

@media(min-width:992px) {
    #forgot-section .email {
        width: 50%;
    }
}