#store-section .b-crumb {
    background-color: var(--dark-color);
    border-radius: 7px;
}

#store-section .breadcrumb>.breadcrumb-item:first-child i {
    color: var(--orange-color);
}

#store-section .breadcrumb-item+.breadcrumb-item::before {
    color: rgb(174, 171, 171);
}

#store-section .title {
    font-size: 2rem;
    letter-spacing: 1px;
}

#store-section .hr {
    width: 100%;
    height: 2px;
    background-color: var(--dark-color);
}

#store-section .form-part {
    border: 1px solid var(--orange-color);
    border-radius: 7px;
}

#store-section h3.side-title {
    font-size: 1.5rem;
    color: var(--orange-color);
}

#store-section .btnSearch {
    border: 0;
    border-radius: 5px;
}

#store-section .product img {
    aspect-ratio: 1/1;
}

#store-section .product .det {
    background-color: #eee !important;
}

#store-section .product h4 {
    font-size: 0.9rem;
    margin-bottom: 20px;
    margin-bottom: 30px;
    font-weight: bold;
}

#store-section .product .btnMore {
    text-decoration: none;
    background-color: white;
    color: var(--orange-color);
    font-size: 0.9rem;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

#store-section .pagination .page-link {
    border-radius: 0 !important;
}

#store-section .page-item.active a {
    background-color: #eee;
    color: gray;
    border-color: #dee2e6;
}

#store-section .page-link:hover {
    background-color: #eee;
}